@model ExtremeInsiders.Entities.VideoTranslation

<h1>Изменение</h1>

<h4>Локализация "Видео"</h4>
<hr/>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input readonly asp-for="Id" class="form-control"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Название</label>
                <textarea asp-for="Name" class="form-control"></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Url</label>
                <input asp-for="Url" class="form-control"/>
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Продолжительность (рассчитается автоматически по Url)</label>
                <input asp-for="Duration" type="time" class="form-control" step="1"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>

            <div>
                <label class="control-label">Текущее изображение</label>
                <img src="@(Model.Image?.Path)" style="max-width: 350px"/>
            </div>
            <div class="form-group">
                <label class="control-label">Новое изображение</label>
                <input type="file" accept="image/*" name="ImageSrc" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Id базового представления</label>
                <input readonly asp-for="BaseEntityId" class="form-control"/>
                <span asp-validation-for="BaseEntityId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CultureId"/>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>