<div class="mb-2">
    <h5>Основые</h5>
    <button class="btn btn-light"><a asp-area="Admin" asp-controller="Sport" asp-action="Index">Виды спорта</a></button>
    <button class="btn btn-light"><a asp-area="Admin" asp-controller="Playlist" asp-action="Index">Плейлисты</a></button>
    <button class="btn btn-light"><a asp-area="Admin" asp-controller="Video" asp-action="Index">Видео</a></button>
    <button class="btn btn-light"><a asp-area="Admin" asp-controller="Movie" asp-action="Index">Фильмы</a></button>
</div>

<div class="mb-2">
    <h5>Дополнительно</h5>
    <button class="btn btn-light"><a asp-area="Admin" asp-controller="SubscriptionPlan" asp-action="Index">Планы подписки</a></button>
    <button class="btn btn-light"><a asp-area="Admin" asp-controller="BannerEntity" asp-action="Index">Баннер</a></button>
    <button class="btn btn-light"><a asp-area="Admin" asp-controller="User" asp-action="Index">Пользователи</a></button>
    <button class="btn btn-light"><a asp-area="Admin" asp-controller="PromoCode" asp-action="Index">Промо-коды</a></button>
</div>
