<div>
    <button class="btn btn-light"><a asp-area="Admin" asp-controller="Sport" asp-action="Index">Виды спорта</a></button>
    <button class="btn btn-light"><a asp-area="Admin" asp-controller="Playlist" asp-action="Index">Плейлисты</a></button>
</div>

