@model ExtremeInsiders.Entities.SubscriptionPlanTranslation

<h1>Создание</h1>

<h4>Локализация "План подписки"</h4>
<hr/>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label lass="control-label">Название</label>
                <textarea asp-for="Name" class="form-control"></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    var baseEntityBool = ViewData.ContainsKey("BaseEntityIsReadOnly") && (bool) ViewData["BaseEntityIsReadOnly"];
                }
                <label asp-for="BaseEntityId" class="control-label">Id базового представления</label>
                <select readonly="@baseEntityBool" asp-for="BaseEntityId" class="form-control" asp-items="ViewBag.BaseEntityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CultureId" class="control-label">Культура</label>
                @{
                    var cultureBool = ViewData.ContainsKey("CultureIdIsReadOnly") && (bool) ViewData["CultureIdIsReadOnly"];
                }
                <select readonly="@cultureBool" asp-for="CultureId" class="form-control" asp-items="ViewBag.CultureId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>