@model ExtremeInsiders.Entities.Video

@{
    var baseIdIsReadOnly = ViewData.ContainsKey("BaseIdIsReadOnly") && (bool)ViewData["BaseIdIsReadOnly"];
}

<h1>Создание</h1>

<h4>Видео</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlaylistId" class="control-label">Плейлист</label>
                <select readonly="@baseIdIsReadOnly" asp-for="PlaylistId" class="form-control" asp-items="ViewBag.PlaylistId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>