@model ExtremeInsiders.Entities.BannerEntity

<h1>Изменение</h1>

<h4>Баннер</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EntityId" class="control-label">Id базовой сущности</label>
                <select asp-for="EntityId" class="form-control" asp-items="ViewBag.EntityId"></select>
                <span asp-validation-for="EntityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

