@model IEnumerable<ExtremeInsiders.Entities.BannerEntity>

<h1>Баннер</h1>

<p>
    <a asp-action="Create">Добавить сущность</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Id сущности
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Id)
            </td>
            <td>
                @Html.DisplayFor(model => item.EntityId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>