@using GoogleAuth.Helpers
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings;


@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<a href="https://oauth.vk.com/authorize?client_id=@AppSettings.Value.VkClientId&display=page&redirect_uri=@AppSettings.Value.VkRedirect&scope=email&response_type=code&v=5.110">Вход с вк</a>


<p>Use this page to detail your site's privacy policy.</p>
