@model ExtremeInsiders.Areas.Admin.Models.AuthenticationModels.SignUp

<h2>Регистрация</h2>

<form asp-area="Admin" asp-action="SignUp" asp-controller="Auth" asp-anti-forgery="true">
    @Html.ValidationSummary(false, "", new {@class = "text-danger"})

    <div class="col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"asp-for="Name">Введите Имя, Фамилия</span>
            </div>
            <input class="form-control" type="text" asp-for="Name"/>
            <span asp-validation-for="Name"/>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"asp-for="Email">Введите Email</span><br/>
            </div> <input class="form-control" type="text" asp-for="Email"/>
            <span asp-validation-for="Email"/>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"asp-for="Password">Введите пароль</span><br/>
            </div>
            <input class="form-control" asp-for="Password"/>
            <span asp-validation-for="Password"/>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"asp-for="Secret">Код регистрации</span><br/>
            </div>
            <input class="form-control" asp-for="Secret"/>
            <span asp-validation-for="Secret"/>
        </div>
        <div class="input-group">
            <input class="btn btn-primary" type="submit" value="Регистрация"/>
        </div>
    </div>
</form>