@model ExtremeInsiders.Models.EntitySaleablePrice

<h1>Удаление</h1>

<h3>Вы точно хотите удалить эту запись?</h3>
<div>
    <h4>Цега</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Цена
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            Валюта
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency.Key)
        </dd>
        <dt class="col-sm-2">
            Id базовой сущности
        </dt>
        <dt>
            @Html.DisplayFor(model => model.EntityId)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
