@model ExtremeInsiders.Entities.SubscriptionPlan

<h1>Создание</h1>

<h4>План подписки</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">Длительность(в днях)</label>
                <input name="durationInDays" type="number" min="0" step="1" class="form-control"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">Цвет</label>
                <input asp-for="Color" type="color" class="form-control"/>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label lass="control-label">Ключ товара Apple</label>
                <input asp-for="AppleInAppPurchaseKey" class="form-control"/>
                <span asp-validation-for="AppleInAppPurchaseKey" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label lass="control-label">Ключ товара Google</label>
                <input asp-for="GoogleInAppPurchaseKey" class="form-control"/>
                <span asp-validation-for="GoogleInAppPurchaseKey" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>