@model ExtremeInsiders.Entities.SubscriptionPlan

@{
    ViewData["Title"] = "Удаление записи";
}

<h1>Удаление</h1>

<h3>Вы точно хотите удалить запись?</h3>
<div>
    <h4>План подписки</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
