@model ExtremeInsiders.Entities.PromoCode


<h1>Изменить</h1>

<h4>Промо-код</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label">Код</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionPlanId" class="control-label">Связанный план подписки</label>
                <select asp-for="SubscriptionPlanId" class="form-control" asp-items="ViewBag.SubscriptionPlanId"></select>
                <span asp-validation-for="SubscriptionPlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntitySaleableId" class="control-label">Связанный платный объект</label>
                <select asp-for="EntitySaleableId" class="form-control" asp-items="ViewBag.EntitySaleableId"></select>
                <span asp-validation-for="EntitySaleableId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsInfinite" /> Многоразовый
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsValid" /> Действует
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

